//main
$bk: #ea5645;
$fk: white;

$bk_hightlight: #9b120e;
//dd
$unoRed: red;

//unocards
$uno_red: red;
$uno_green: green;
$uno_yellow: yellow;
$uno_blue: blue;
$uno_black: black;

//size
$breakpoint-tablet: 768px;

$border-radius: 3px;
